@import "../colors.scss";

.sidebar {
  position: relative;

  user-select: none;
  -webkit-user-select: none;
  // height: 100vh;

  background-color: $main_dark;
  color: $main_bg;

  z-index: 3;

  flex-shrink: 0;

  .upper_border {
    height: 74px;
  }

  .file_manager {
    position: relative;
    opacity: 1;

    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 6.75rem);
    &::-webkit-scrollbar {
      display: none;
    }

    // user-select: none;
  }

  .resize_handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;

    cursor: col-resize;

    background-color: #3692f9;
    opacity: 0;
    transition: opacity 0.08s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  .handle_visible {
    opacity: 1;
  }
}
