@import "./colors.scss";

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

// Resetting markdown-it's settings
.my_icon {
  margin: 0;
  border-radius: 0;
  border: none;
}

.my_h1,
.my_p,
.my_hr {
  margin: 0;
  font-family: "Poppins";
}

// My styling

.App {
  display: flex;
}

.content_section {
  flex-grow: 1;

  max-height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.titlebar {
  background-color: #e3f2ff;
  height: 1.375rem;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  overflow-y: hidden;

  // padding: 0.1rem 0; should have this value when scrolling md document down;
  padding: 0.8rem 0;
  padding-left: 5rem;

  background-color: $light_bg;

  box-shadow: 0px 2px 0px $main_grey;

  user-select: none;
  -webkit-user-select: none;

  .explorer_icon {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.8rem;
    color: $main_dark;
  }

  .my_h1 {
    color: $main_dark;
    font-weight: 600;
    font-size: 1.875rem;

    margin-left: 1em;

    user-select: none;
  }

  .little_dog {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;

    margin-top: 6.5rem;
    transition: margin-top 0.3s ease-out;
  }

  .little_dog_animation {
    margin-top: 3.3rem;
  }
}

.main_content {
  padding: 0 2rem;

  .my_p {
    color: $main_dark;

    font-size: 1.25rem;
    font-weight: 300;

    width: fit-content;

    margin: 0 auto;
    margin-top: 6em;

    span {
      // background-color: rgba($color: $main_dark, $alpha: 0.63);
      background-color: $nice_pink;
      color: $main_bg;
      padding: 0.1rem 0.5rem 0.2rem;
      border-radius: 20px;
      font-weight: 00;
    }
  }

  .icon_wrapper {
    .dog,
    .ground {
      // z-index: -1;

      width: 100%;
      max-width: 954px;

      position: absolute;
      bottom: 0;
      right: 0;
    }

    .dog {
      transition: bottom 0.4s ease-out;
    }

    .dog_animation {
      bottom: -16rem;
    }
  }
}

@media (max-width: 1800px), (max-height: 750px) {
  .main_content {
    .icon_wrapper {
      .dog,
      .ground {
        width: 49%;
      }
    }
  }
}
